body {
    margin: 0;
    padding: 0;
    font-family: "Verdana", sans-serif;
    background-color: #494949;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.column {
    width: 60%;
    height: auto;
    background-color: #ddd;
    display: grid;
    margin: 50px;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.left {
    background-color: #ddd;
    margin: 10px;
    padding: 20px;
    height: auto;
}

.right {
    background-color: #f2f2f2;
    padding: 20px;
    height: auto;
}

.header {
    /* background-color: grey; */
    padding: 5px;
    border-bottom: solid black;
}

.header * {
    margin: 0;
    padding: 5px;
}

li {
    font-family: "Trebuchet MS", sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

.education {
    padding-top: 10px;
    padding-bottom: 10px; 
}