/* Your code goes here */
body {
    font-family: Roboto, Helvetica, sans-serif;
}

h1 {
    font-size: 16px;
    color: #444444;
}

.container {
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

.offer {
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: solid 1px #cccccc;
}

.offer-title {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    background-color: #00b3b3;
    margin: none;
    padding: 15px;
}

.offer-contents {
    padding: 20px;
    background-color: #fafafa;
}

/* Table styling */
table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
}

th, td {
    font-weight: lighter;
    color: #444444;
    padding: 20px 10px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1;
    font-size: 13px;
}

th {
    font-weight: bold;
    color: #777777;
    padding: 10px;
    margin: 0;
    font-size: 12px;
}

/* Final value class */
.final-value {
    font-weight: bold;
    color: #2222ff;
}


